.ocultar {
    display: none !important;
}

body {
    background-color: #344b53;
    margin: 0;
    padding: 0;
}

.bg-custom {
    background-color: #cfd8dc;
    border-radius: 10px;
}

.img-fundo {
    background-color: #607d8b;
    opacity: 0.2;
    padding-left: 0% !important;
    padding-right: 0%;
    
}